@model AddFundsViewModel

<script
    src="https://www.paypal.com/sdk/js?client-id=@(Model.PayPalClientId)">
</script>


<form>
    <input id="demo" v-currency="{currency: 'USD', locale: 'en'}" v-model="value" />
</form>

<script>
    PlumPack.Wallet.currencyInput("#demo", "en", "USD", 344, function(newValue) {
        if(newValue === 0) {
            console.log("what?");
        }
        console.log(newValue);
    });
    // var r = PlumPack.Wallet.test("#demo");
    // window.r = r;
</script>

<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            // Set up the transaction
            return PlumPack.Wallet.payPal().createOrder(23).then(function(x) {
                return x.orderId;
            });
        },
        onCancel: function (data) {
            console.log("cancel: " + JSON.stringify(data));
        },
        onApprove: function(data) {
            return PlumPack.Wallet.payPal().captureOrder(data.orderID, data.payerID);
        }
    }).render('#paypal-button-container');
</script>