@model AddFundsViewModel

<script
    src="https://www.paypal.com/sdk/js?client-id=@(Model.PayPalClientId)">
</script>

<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            // Set up the transaction
            return PlumPack.Wallet.payPal().createOrder(23).then(x => {
                return x.orderId;
            });
        }
    }).render('#paypal-button-container');
</script>