@model AddFundsViewModel

<script
    src="https://www.paypal.com/sdk/js?client-id=@(Model.PayPalClientId)">
</script>

<div id="paypal-button-container"></div>

<script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            // Set up the transaction
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '0.01'
                    }
                }]
            });
        }
    }).render('#paypal-button-container');
</script>