@using System.Text.Json
@using PlumPack.Infrastructure
@model ActivityViewModel

@{
    ViewBag.SelectedWalletTab = "activity";
}

<h1 class="page-title">Activity</h1>

<div class="table-responsive">
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Amount</th>
            <th scope="col">Balance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
        {
            <tr>
                <td class="fitwidth">
                    <div>
                        <local-time datetime="@JsonSerializer.Serialize(transaction.Date).Replace("\"", "")"
                            month="short"
                            day="numeric"
                            year="numeric"
                            hour="numeric"
                            minute="numeric">
                        </local-time>
                    </div>
                </td>
                <td>@transaction.Title</td>
                <td class="fitwidth">
                   <span class="text-@(transaction.Amount >= 0 ? "success" : "danger")">@transaction.Amount.ToCurrency()</span>
                </td>
                <td class="fitwidth">
                    <span class="text-@(transaction.CurrentBalance >= 0 ? "success" : "danger")">@transaction.CurrentBalance.ToCurrency()</span>
                </td>
            </tr>
        }
    </tbody>
  </table>
</div>