@{
    ViewBag.SelectedWalletTab = "transfer-money";
}

<p>
    <a asp-action="Index" asp-controller="AddFunds" class="btn btn-light">Add money to your balance.</a>
</p>
<p>
    <a asp-action="Index" asp-controller="Withdrawal" class="btn btn-light">Transfer money to your bank.</a>
</p>